*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background: url(../img/20160817114317159.jpg) no-repeat fixed;
    background-size: 100% 100%;
}

/*  导航栏 开始 */
nav{
    /*background: #fff;*/
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 80px;
    /*background: #000;*/
}

nav .navBtn{
    float: right;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
}
nav .navBtn li{
    float: left;
}
nav .navBtn li a:hover{
    animation: hoverChange 1s ease both;
}
nav .navBtn li a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}


#a{
    height: 3000px;
}

/* 导航 结束  */

/*联系方式的开始*/

#contactOur{
    position: fixed;
    right:0;
    bottom:170px;
    z-index: 10;
}
#contactOur div{
    cursor: pointer;
    border:1px dashed #000;
    background:#fff;
    opacity: 0.6;
    text-align: center;
    line-height: 50px;
    width:50px;
    height: 50px;
    margin:5px 0;
}
#contactOur div img{
    width: 100%;
}
/*Invert（反相）*/
#contactOur .gray{
    -webkit-filter: Invert(100%);
    -moz-filter: Invert(100%);
    -ms-filter: Invert(100%);
    -o-filter: Invert(100%);
    filter: Invert(100%);
}
#erweima{
    position: fixed;
    right:53px;
    bottom:190px;
    display: none;
}

/*结尾部分*/
footer{
    font-size: 13px;
    color: rgb(117,117,117);
    text-align: center;
    background: #000;
    border-top: 1px solid red;
}

footer .aboutOur{
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 16px;
}
footer .lineP{
    margin: 0 auto;
}
footer .lineP .lineSpan{
    position: relative;
    display: block;
}
footer .lineP .lineSpan:before, .lineSpan:after {
    content: '';                 /*CSS伪类用法*/
    position: absolute;         /*定位背景横线的位置*/
    top: 52%;
    background: #fff;       /*宽和高做出来的背景横线*/
    transition: 0.5s;
    height: 1px;
}
footer .lineP .lineSpan img{
    width: 18px;
}
footer .Ourinfo{
    padding-top: 10px ;
    line-height: 20px;
    padding-bottom: 35px;
}
.wish-top{
    margin-top: 10px;
    margin-bottom: 15px;
}
footer .wish .email{
    padding: 10px 0;
    display: block;
}
footer .contactOur{
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 16px;
}
footer .method{
    margin-top: 10px;
}

footer .method .email{
    transition: 0.5s;
    margin: 0 1.5%;
    font-size: 18px;
}

footer .ad{
    padding-top: 30px;
}
footer .ad .red_hover{
    text-decoration: none;
    font-size: 13px;
    margin: 0 5px;
    color: #494949;
}

footer .ad .red_hover:hover{
    animation:colorChange 0.5s ease both;
}
footer .someLogo{
    padding-top: 100px;
    padding-bottom: 60px;
}
footer .someLogo .cooperateLogo{
    width: 181px;
}
footer .put_on_record a{
    text-decoration: none;
    font-size: 12px;
    color: #eeeeee;
}
footer .put_on_record a:hover{
    animation: hoverChange 0.5s ease both;
}
/* 页脚 结束   */