/* 
* @Author: zty
* @Date:   2016-02-05 13:09:11
* @Last Modified by:   zty
* @Last Modified time: 2016-02-15 16:28:41
*/
body{
	background: url("../img/news/sec_01.jpg") no-repeat center center;
	background-size: 100% 100%;
}
.bread,.bread a{
	color: #fff;
	text-align: right;
	line-height: 54px;
}
.bread span{
	color: #fff;
}
.content-n{
    width: 90%;
    padding: 160px 5% 0;
    opacity: .7;
}
.nav_list{
    text-align: center;
}
.nav_list a{
    font-size:25px
}
.new-list{
    height:200px;
}
.img_box{
	border: 1px solid #fff;
	width: 342px;
	float: left;
}
.img_box img{
	display: block;
	margin: 2px;
	border: 1px solid #fff;
}
.sec_img_list{
	margin-top: 50px;
	float: left;
	min-height:697px;
}
.sec_text_box{
	float: left;
	margin-left: 58px;
	width: 785px;
}
.img_title,.img_date{
	font-size: 18px;
	line-height: 32px;
}
.img_title a{
    font-size:21px;
}
.img_text,.read_more{
	font-size: 12px;
	line-height: 36px;
	height:75px;
	overflow:hidden;
}
.sec_img_list li{
	margin-bottom: 42px;
}
.pager{
	width: auto;
	height: 36px;
	margin: 0 auto 20px;
	text-align:center;
}
.pager li{
	margin-right: 19px;
	padding: 2px;
	border: 1px solid #818181;
	display:inline-block;
}
.pager a{
	display: block;
	padding: 0 21px;
	line-height: 30px;
	background: rgba(130,130,130,0.3);
}
.pager a:hover{
	background: rgba(130,130,130,0.5);
}
.product_list li{
	width: 372px;
	height: 312px;
	padding: 4px;
	position: relative;
	float: left;
	margin: 0 30px 32px 0;
}
.product_list li:nth-child(3n){
	margin-right: 0;
}
.product_list li img{
	border: 1px solid #fff;
}
.w_line{
	position: absolute;
}
.hl{
	width: 190px;
	height: 1px;
	background: #fff;
}
.dl{
	height: 160px;
	width: 1px;
	background: #fff;
}
.ltr,.ltd{
	left: 0;
	top: 0;
}
.rtl,.rtd{
	right: 0;
	top: 0;
}
.ldr,.ldt{
	left: 0;
	bottom: 0;
}
.rdl,.rdt{
	right: 0;
	bottom: 0;
}
.product_list li .hl{
	transition: width 1s ease-out;
	-moz-transition: width 1s ease-out;
	-webkit-transition: width 1s ease-out;
}
.product_list li .dl{
	transition: height 1s ease-out;
	-moz-transition: height 1s ease-out;
	-webkit-transition: height 1s ease-out;
}
.product_list li:hover .hl{
	width: 14px;
}
.product_list li:hover .dl{
	height: 14px;
}
.product_list li img{
	transition: filter 1s;
	-moz-transition: filter 1s;
	-webkit-transition: filter 1s;
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.product_list li:hover img{
	filter: grayscale(0);
	-moz-filter: grayscale(0);
	-webkit-filter: grayscale(0);
}
.product_list li:hover .bg_mask_border{

	opacity: 1;
}
.bg_mask_border{
	transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	transition-delay: 1s;
	-moz-transition-delay: 1s;
	-webkit-transition-delay: 1s;
	position: absolute;
	left: 65px;
	top: 90px;
	z-index: 10;
	opacity: 0;
	display: block;
}
#list{
	margin-top: 30px;
	min-height:730px;
}

.product_box{
	margin-top: 20px;
}
.wheelarea{
	width: 637px;
	height: 690px;
	background: rgba(255,255,255,0.1);
	padding: 30px 0 0 35px;
	margin-top: 30px;
}
.product_box{
	padding-bottom: 40px;
}
.wheel_title{
	font-size: 18px;
}
.wheelarea p{
	line-height: 28px;
	font-size: 14px;
	padding-right: 15px;
}
.prod_img{
	margin-top: 180px;
	margin-left: 65px;
	border: 14px solid transparent;
	border-image: url("../images/border_03.png") 14 14 round;
	-webkit-border-image: url("../images/border_03.png") 14 14 round;
}
.prod_name{
	font-size: 18px;
	width:400px;
	margin-left:65px;
}
.pagechanger{
	line-height: 28px;
}
.pagechanger a:hover{
	color: #999;
}
.sec_img_list img{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	transition: filter 2s;
	-moz-transition: filter 2s;
	-webkit-transition: filter 2s;
}
.sec_img_list img:hover{
	filter: grayscale(0);
	-moz-filter: grayscale(0);
	-webkit-filter: grayscale(0);
}